$primary-color: #1e1c1d;
$background-color: #1e2023;
$icon-color: #1e2023;
$font-color: #ffffff;
$font-color-active: #000000;
$font--primary:'Dosis', sans-serif;
$transition-length: 0.8s;
$box-shadow: 0px 0px 11px 11px #252324b5;