$primary-color: #1e2023;
$background-color: #1e1c1d;
$font-color: #ffffff;
$font-custom:#BD871F;
$font-color-active: #000000;
$font--primary:'Dosis', sans-serif;
$transition-length: 0.8s;
$box-shadow: 0px 0px 11px 11px #252324b5;
$menu-items-count: 4;
$headerColor: #BD871F;
$size: 30px;