
$primary-color: #3498db;
$secondary-color: #353d48;
$background-color: #1e2023;
$icon-color: #1e2023;
$font-color: #ffffff;
$font-color-active: #000000;
$font--primary:'Dosis', sans-serif;
$transition-length: 0.8s;

@font-face {
    font-family: 'khorla';
    src: url('./assets/fonts/Khorla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Global Styles
body {
    background-color: $background-color;
    font-family: $font--primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, a:hover, a:visited{
	text-decoration: none;
	color: $font-color-active;
}

ul{
  list-style: none;
}

.custom-font {
    font-family: 'khorla', sans-serif; 
}

.menu-icon {
    $size: 30px;
    height: $size;
    width: $size;
    position: fixed;
    z-index: 2;
    left: 50px;
    top: 30px;
    cursor: pointer;
  
    &__line {
      height: 2px;
      width: $size;
      display: block;
      background-color: $font-color;
      margin-bottom: 4px;
      transition: transform 0.2s ease, background-color 0.5s ease;
    }
  
    &__line-left,
    &__line-right {
      width: $size / 2;
    }
  
    &__line-right {
      float: right;
    }
  }
  
  .nav {
    $width: 100vw;
    $height: 100vh;
    $font-size-calc: calc(2vw + 10px);
    $transition-easing: cubic-bezier(0.77, 0, 0.175, 1);
    position: fixed;
    z-index: 1;
  
    &:before,
    &:after {
      content: "";
      position: fixed;
      width: $width;
      height: $height;
      background: rgba(#eaeaea, 0.2);
      z-index: -1;
      transition: transform $transition-easing $transition-length;
      transform: translateX(0%) translateY(-100%);
    }
  
    &:after {
      background: rgba(#ffffff, 1);
      transition-delay: 0s;
    }
  
    &:before {
      transition-delay: 0.1s;
    }
  
    &__content {
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
      width: 100%;
      text-align: center;
      font-size: $font-size-calc;
      font-weight: 200;
      cursor: pointer;
    }
  
    &__list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
  
      &-item {
        position: relative;
        display: inline-block;
        transition-delay: $transition-length;
        opacity: 0;
        transform: translate(0%, 100%);
        transition: opacity 0.2s ease, transform 0.3s ease;
        margin-right: 25px;
  
        &:before {
          content: "";
          position: absolute;
          background: $font-color-active;
          width: 20px;
          height: 1px;
          top: 100%;
          transform: translate(0%, 0%);
          transition: all 0.3s ease;
          z-index: -1;
        }
  
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
    &__icon{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 200px;
      
    }
    &__icon-item img{
      width: 30px;
    }
  }
  
  body.nav-active {
    $menu-items-count: 4;
  
    .menu-icon {
      &__line {
        background-color: #000;
        transform: translateX(0px) rotate(-45deg);
      }
  
      &__line-left {
        transform: translateX(1px) rotate(45deg);
      }
  
      &__line-right {
        transform: translateX(-2px) rotate(45deg);
      }
    }
  
    .nav {
      visibility: visible;
  
      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
      }
  
      &:after {
        transition-delay: 0.1s;
      }
  
      &:before {
        transition-delay: 0s;
      }
  
      &__list-item {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  
        @for $i from 1 through $menu-items-count {
          &:nth-child(#{$i}) {
            transition-delay: $transition-length * $i / 8 + 0.5s;
          }
        }
      }
    }
  }

// titre

.site-title{
	max-width: 1100px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	&__headline{
		font-weight: 200;
		color: $font-color;
		font-size: calc(2vw + 10px);
	}
}

// About Me
.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #f0f0f0;
  
    &__photo {
      width: 20%;
      padding-right: 20px;
  
      &-img {
        width: 100%;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  
    &__description {
      width: 60%;
  
      &-title {
        font-size: 2em;
        margin-bottom: 10px;
      }
  
      &-text {
        font-size: 2em;
        line-height: 1.5;
      }
    }
  }
  

// My Work
.work {
  padding: 20px;

  &__project {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;

    &-thumbnail {
      width: 50%;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      img {
        width: 100%;
      }
    }

    &-details {
      width: 40%;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-description {
        font-size: 1.5em;
      }

      &-tech, &-link {
        font-size: 0.9em;
        color: #555;
      }

      &-link {
        a {
          text-decoration: none;
          color: $primary-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Contact
.contact {
  padding: 20px;

  &__title{
    color: white;
    font-size: 4em;
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 0.5s ease-in-out;
    transform: scale(3); 
    filter: blur(20px);
  }

  &__title.visible {
    opacity: 1;
    transform: scale(1);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label{
      color: white;
      font-size: 20px;
    }

    input, textarea {
      width: 325px;
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: $primary-color;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

.contact__form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
  max-width: 325px; 
  margin: 0 auto;

  .contact__form-label {
    // align-self: flex-start;
    margin-bottom: 5px;
  }

}

// Footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
  padding: 20px;
  color: #fff;
}

.footer__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 15px;
  }
}

.footer__social-media-item {
  margin: 0;

  &-link {
      display: flex;
      align-items: center;
  }
}

.footer__social-media-link img {
  transition: filter 0.6s; 
}

@keyframes removeBlur {
  0%, 100% {
    filter: brightness(0) invert(1) blur(0px);
  }
  10% {
    filter: brightness(0) invert(1) blur(5px);
  }
}

.footer__social-media-link img:hover {
  animation: removeBlur 0.8s forwards;
}


// Responsive Design
@media(min-width: 768px) {
  .header, .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__nav-list {
    justify-content: flex-end;
  }

  .about__photo, .about__description {
    text-align: left;
  }

  .contact__form {
    width: 50%;
    margin: 0 auto;
  }
}
