
@import "variables"; 

@font-face {
    font-family: 'khorla';
    src: url('./assets/fonts/Khorla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: $background-color;
    font-family: $font--primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, a:hover, a:visited{
	text-decoration: none;
	color: #BD871F;
}

ul{
  list-style: none;
}

h2{
  color: white;
}

.custom-font {
    font-family: 'khorla', sans-serif; 
    color: $font-custom;
    text-transform: uppercase;
}

strong{
  color: #ffffff;
  font-size: 25px;
  font-family: 'khorla';
  text-transform: uppercase;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px; 
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  max-width: 1366px;
  width: 100%;
  height: 60px;
  z-index: 1000;
  background-color: rgba(30, 32, 35, 0.143); 
}

// Menu and Navigation 

  .menu-icon {
    $size: 30px;
    height: $size;
    width: $size;
    position: absolute;
    z-index: 1000;
    left: 50px;
    top: 30px;
    cursor: pointer;
  
    &__line {
      height: 2px;
      width: $size;
      display: block;
      background-color: #BD871F;
      margin-bottom: 4px;
      transition: transform 0.2s ease, background-color 0.5s ease;
    }
  
    &__line-left,
    &__line-right {
      width: $size / 2;
    }
  
    &__line-right {
      float: right;
    }
  }
  
  .nav {
    visibility: hidden;
    pointer-events: none;
    top: 0;
    max-width: 1366px; 
    width: 100%;
    $width: 100vw;
    $height: 100vh;
    $font-size-calc: calc(2vw + 10px);
    $transition-easing: cubic-bezier(0.77, 0, 0.175, 1);
    position: fixed;
    z-index: 1;
  
    &:before,
    &:after {
      content: "";
      position: fixed;
      max-width: 1366px;
      width: $width;
      height: $height;
      background: rgba(40, 54, 71, 0.2);
      z-index: -1;
      transition: transform $transition-easing $transition-length;
      transform: translateX(0%) translateY(-100%);
    }
  
    &:after {
      max-width: 1366px;
      width: 100%;
      background: rgba(40, 54, 71, 1);
      transition-delay: 0s;
    }
  
    &:before {
      transition-delay: 0.1s;
    }
  
    &__content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: $font-size-calc;
      font-weight: 200;
      cursor: pointer;
    }
  
    &__list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
  
      &-item {
        position: relative;
  display: inline-block;
  color: #BD871F;
  transition-delay: $transition-length;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-right: 25px;

  &:before {
    content: "";
    position: absolute;
    background: #BD871F;
    width: 20px;
    height: 1px;
    top: 100%;
    transform: translate(0%, 0%);
    transition: all 0.3s ease;
    z-index: -1;
  }

  &:hover:before {
    background: linear-gradient(to right, #BD871F, transparent);
    width: 300px; 
  }
}
    }
    &__icon{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 200px;
      
    }
    &__icon-item img{
      width: 30px;
    }
  }
  
  body.nav-active {
    $menu-items-count: 4;
  
    .menu-icon {
      &__line {
        background-color: #BD871F;
        transform: translateX(0px) rotate(-45deg);
      }
  
      &__line-left {
        transform: translateX(1px) rotate(45deg);
      }
  
      &__line-right {
        transform: translateX(-2px) rotate(45deg);
      }
    }
  
    .nav {
      display: block;
      visibility: visible;
      pointer-events: auto;
  
      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
      }
  
      &:after {
        transition-delay: 0.1s;
      }
  
      &:before {
        transition-delay: 0s;
      }
  
      &__list-item {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  
        @for $i from 1 through $menu-items-count {
          &:nth-child(#{$i}) {
            transition-delay: $transition-length * $i / 8 + 0.5s;
          }
        }
      }
    }
  }

  body.nav-closing .nav__list-item {
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity 0.5s ease, transform 0.5s ease, color 0.3s ease;
  
    @for $i from 1 through $menu-items-count { 
      &:nth-child(#{$i}) {
        transition-delay: $transition-length * (1 - $i / $menu-items-count) + 0.5s;
      }
    }
  }
  
  
  

// titre

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.site-title {
  max-width: 1100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__headline {
    font-weight: 200;
    color: $font-color;
    font-size: calc(2vw + 10px);
    display: flex;  
    align-items: baseline;  

    span {
      display: inline-flex;  
    }

    .custom-font {
      display: inline-block;  
      opacity: 0;
      animation: appear 2s forwards;

      &:nth-child(1) { animation-delay: 0s; transform: translate(-100px, -100px); }
      &:nth-child(2) { animation-delay: 0.3s; transform: translate(100px, -50px); }
      &:nth-child(3) { animation-delay: 0.6s; transform: translate(-50px, 100px); }
      &:nth-child(4) { animation-delay: 0.9s; transform: translate(100px, 50px); }
      &:nth-child(5) { animation-delay: 1.2s; transform: translate(-100px, 50px); }
      &:nth-child(6) { animation-delay: 1.5s; transform: translate(50px, -100px); }
      &:nth-child(7) { animation-delay: 1.8s; transform: translate(-50px, -100px); }
      &:nth-child(8) { animation-delay: 2.1s; transform: translate(100px, 100px); }
    }
  }
}




// About Me
.about {
    // max-width: 1366px;
    // width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;

   &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   &__title{
    color: #BD871F;
    font-family: 'khorla';
    font-size: 60px;
   }
    
    &__hero{
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      background: #1e1c1d;
      border-radius: 10px;
      box-shadow:  $box-shadow;
    }
  
    &__photo {
      width: 20%;
      padding-right: 20px;
  
      &-img {
        width: 100%;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.508) 0px 3px 8px;
      }
    }
  
    &__description {
      width: 60%;
  
      &-title {
        font-size: 2em;
        margin-bottom: 10px;
      }
  
      &-text {
        font-size: 2em;
        line-height: 1.5;
      }
    }
  }
  

// My Work
.work {
  padding: 20px;

  &__title{
    color: #bd871f;
    font-family: "khorla";
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }

  &__project {
    background: #1e1c1d;
    padding: 50px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    box-shadow: $box-shadow;

    
      
      &-text {
        font-size: calc(1vw + 10px);
        color: $font-color;
        line-height: 1.5em;
      }

    &__thumbnail {
      position: relative;
      width: 600px;
      height: 449px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      img {
        width: 100%;
      }

      img {
        width: 100%;
        transition: filter 0.3s cubic-bezier(0.4, 0.0, 0.2, 1); 
      }

      &:hover {
        img {
          filter: blur(5px);
        }
        .hover-message {
          display: flex; 
        }
      }
      .hover-message {
        display: none; 
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5); 
        color: white; 
        padding: 10px;
        border-radius: 5px;
        font-size: 1.5em; 
        text-align: center; 
      }

    }

    &__details {
      width: 40%;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__description p{
        font-size: 20px;
      }

      &-tech, &-link {
        font-size: 0.9em;
        color: $font-color;
      }

      &-link {
        a {
          text-decoration: none;
          color: $font-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.read-more {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  font-family: "khorla";
  font-size: 20px;

  &:hover {
    text-decoration: none;
  }
}

// Contact

.contact {
  width: 100%;
  margin-bottom: 20px;

  &__container{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  &__title{
    margin: 0;
    color: $font-custom;
    width: 400px; 
    font-size: 4em;
    transition: opacity 2s ease-in-out, transform 0.5s ease-in-out;

    &.blurred {
      filter: blur(5px);
      transition: filter 1s ease-in-out;
    }
  }

  &__form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-group{
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      width: 100%;
      max-width: 325px; 
    }

    label{
      color: $font-color;
      font-size: 20px;
      margin-bottom: 5px;
    }

    input, textarea {
      width: 325px;
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: rgba(40, 54, 71, 0.598); 
      color: #BD871F; 
      transition: background-color 0.3s ease; 

      &:focus {
        background-color: rgb(250, 250, 250); 
      }
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: $font-custom;
      color: $font-color;
      cursor: pointer;

      &:hover {
        background-color: darken($font-custom, 10%);
      }
    }
  }
}



// Footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, rgba(40, 54, 71, 0.598)25%, rgba(40, 54, 71, 0.3), transparent);
  border-radius: 10px;
  padding: 20px;
  font-family: $font--primary;
  color: $font-color;
}

.footer__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 15px;
  }
}

.footer__social-media-item {
  margin: 0;

  &-link {
      display: flex;
      align-items: center;
  }
}

.footer__social-media-link img {
  transition: filter 0.6s; 
}

@keyframes removeBlur {
  0%, 100% {
    filter: brightness(0) invert(1) blur(0px);
  }
  10% {
    filter: brightness(0) invert(1) blur(5px);
  }
}

.footer__social-media-link img:hover {
  animation: removeBlur 0.8s forwards;
}


