//Responsive style 

@media (max-width: 1024px){

  .nav__content {
    font-size: calc(2.5vw + 1rem); 
  }

  .site-title__headline {
    font-size: calc(3vw + 1rem); 
  }

  
  .about__container {
    margin-top: 6.25rem;
    position: relative;
    flex-direction: column;
    text-shadow: 5px 5px 5px #283647;
  }

  
  .about__title {
    position: absolute;
    top: -10rem; 
    left: 0;
    font-size: 5rem;
    letter-spacing: 0.5rem;
  }
 
  .about__hero{
    width: 100%;
  }

  .work__title {
    flex-direction: column;
    align-items: center;
    text-shadow: 5px 5px 5px #283647;
    letter-spacing: 0.5rem;
  }

  .work__title__text{
    font-size: 4.9rem;
    letter-spacing: 1.125rem;
    margin: 0;
  }

  .work__title__logo {
    margin-bottom: 1rem; 
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .work__project__description-title {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
   
    
  }

  .work__project__thumbnail{
    width: 31rem;
    height: fit-content;

    img {
      object-fit: cover;
      border-radius: 0 0 0.625rem 0.625rem;
    }
  }


}
@media (max-width: 768px) {
  
  .about__title{
    letter-spacing: -0.285rem; //pourquoi ça change pas? 

  }
  .work__title__text{
    display: block;
    text-align: right;
    font-size: 5.2rem;
    letter-spacing: -0.285rem;

    &__logo{
      justify-content: start;
      
    }
   
  }
  .work__project {
    flex-direction: column;
    align-items: left;
    padding: 1rem; 
  }

  .work__project__thumbnail{
    width: 100%;

  }

  .work__project__details{
    width: 100%;
    padding-left: 0;
    margin: 1rem 0;
  }

  .work__project__description{
    width: 100%;
  }

  .contact__container{
    display: flex;
    flex-direction: column;
  }

  .contact__title{
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width:425px){

.container{
  padding: 0;
}

  .site-title__headline{
    font-size: calc(3vw + 0.5rem);
  }

  .about__title{
    font-size: 3rem;
    top: -6rem;
  }

  .about__photo{
    width: 50%;
  }

  .about__hero{
    flex-direction: column;
  }

  .about__description{
    width: 90%;
  }

  .work__project-text{
    font-size: calc(1vw + 1.2rem);
  }
  .contact__form input{
    width: 18rem;
  }
  .contact__form textarea {
    width: 18rem;
  }
  
}
  .footer{
    padding: 5px;
  }

  .footer__social-media{
    width: 90%;
  }

  .footer__social-media-link{
    width: 90%;
  }

  .footer__social-media-link img{
    width: 50px;
  }





